services:
  pishop:
    image: ghcr.io/pilab-dev/pishop-frontend:latest
    container_name: pishop
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env.local
    ports:
      - '8084:3000' # Maps host port 8080 to container port 8080. Change as needed.
    volumes:
      - ./data/pishop-cache:/app/.next/cache
    networks:
      - pishop-network

volumes:
  pishop-cache:

networks:
  pishop-network:
    driver: bridge
